<%- include ("header") %>
        <h1>Product Update</h1>
        <form action="/productUpdate" method="post" class="container-sm mt-5">
            <div class="mb-3" hidden aria-label="">
                <label for="id" class="form-label">id</label>
                <input type="text" class="form-control" name="ID" required hidden value="<%= product.ID %>">
            </div> 
            <div class="mb-3">
                <label for="nombre" class="form-label">Product Name</label>
                <input type="text" class="form-control" name="Nombre"  value="<%=product.Nombre %>">
                <div id="nombre" class="form-text">Write a new name</div>   
            </div>
            <div class="mb-3">
                <label for="preu" class="form-label">Price</label>
                <input type="preu" class="form-control" name="Preu" value="<%=product.Preu %>">
                <div id="preu" class="form-text">Write a new preu</div>
            </div>
                <button type="submit" class="btn btn-primary" href="/showProduct">Submit</button>
        </form>
        <%- include ("footer") %>