<%- include ("header") %>
<div class="container">
    <h1>titulo</h1>
    <% comandas.forEach((comanda, index) => { %>
        <div class="card-body">
            <h5 class="card-title">
                <%= comanda.UsuarioNombre %>
            </h5>
            <p class="card-text">
                <%= comanda.Email %>
            </p>
            <p class="card-text">
                <%= comanda.ProductName %>
            </p>
            <p class="card-text">
                <%= comanda.preu %>
            </p>

            <p>
                <a href="/comandesUpdate?ID=<%= comanda.ID %>">update Persona</a>
            </p>
        </div>
    <% }) %>
</div>
<%- include ("footer") %>
